{% extends "layout.html" %} {% block content %}
<section class="banner">
  <div class="bannerText">
    <h1>TruthRadar</h1>
    <p>Check to see if what you are reading is <span class="decorated">Truthful</span> or not.</p>
    <p>
      Using <span class="decorated">Machine Learning</span> we can determine the truth and get to the bottom of claims
      made online.
    </p>
    <img class="bannerImg" src="{{ url_for('static', filename='demo.png') }}" height="300" />
  </div>
  <div class="bannerInput">
    <textarea class="input" id="input" placeholder="Want to know if it's true? Past a link or URL"></textarea>
    <textarea class="input" id="key" placeholder="Authorization"></textarea>
    <button id="submit"><h3>Submit</h3></button>
  </div>
</section>
<style>
  .bannerInput {
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px rgba(60, 64, 67, 0.15);
    transition: all 0.3s ease;
    resize: none;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .bannerInput:hover,
  .bannerInput:focus {
    box-shadow: 0 4px 12px rgba(60, 64, 67, 0.3), 0 16px 32px rgba(60, 64, 67, 0.15);
  }

  .input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--light);
    resize: none;
  }

  #input {
    flex-grow: 1;
  }

  #input::placeholder {
    vertical-align: top;
  }

  #submit {
    outline: none;
    border: none;
    background-color: var(--green);
    color: var(--light);
    flex-basis: 10%;
  }
  #submit:hover {
    background-color: var(--lightgreen);
  }

  #key {
    border-top: 1px solid var(--green);
  }
  .loading {
    color: var(--light);
  }
  .loading:hover {
    color: inherit;
  }
</style>
<script>
  document.getElementById("submit").addEventListener("click", () => {
    const button = document.getElementById("submit");
    button.innerHTML = '<i class="fas fa-spinner fa-spin loading"></i>';

    const input = document.getElementById("input").value;
    const key = document.getElementById("key").value;

    fetch("/api/check", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ text: input, key: key }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status === "error") {
          button.style.backgroundColor = "var(--red)";
          button.textContent = "Try Again";
        } else {
          const id = data.id;
          setTimeout(() => {
            window.location.href = "/result?id=" + encodeURIComponent(id);
          }, 5000);
        }
      })
      .catch((err) => {
        console.log("Error: " + err);
        button.style.backgroundColor = "var(--red)";
        button.textContent = "Try Again";
      });
  });
</script>
{% endblock %}
