<footer>
  <a href="https://github.com/meyersa/truthradar"><i class="fa-brands fa-github"></i></a>
  <a href="/info"><i class="fa-solid fa-circle-info"></i></a>
  <p>Disclaimer: Models are trained on outdated information</p>
</footer>
<style>
  footer {
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    margin: 0 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
  }
  footer i {
    color: var(--grey)
  }
  footer p {
    color: var(--grey);
    font-size: 50%;
  }
</style>
